<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(user.errors.count, "error") %> prohibited this game from being saved:</p>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Your Name' %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn-border-pink" %>
  </div>
<% end %>
