<div class="container mx-auto">
  <div>
    <h3><%= @game.name %></h3>
    <hr>
    <strong>Code:</strong>
    <%= @game.code %>

    <p id="notice"><%= notice %></p>
    <strong>Invite people:</strong>
    <%= link_to(game_url(@game.code), game_url(@game.code)) %>
    <p class="mt-5"><%= link_to 'New game?', new_game_path %></p>
  </div>

  <%= javascript_pack_tag 'games/main', 'data-turbolinks-track': 'reload' %>
  <div id="gameApp" data-user="<%= @user_data %>" data-game="<%= @game_data %>">
  </div>
</div>
